* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gold;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  /* height: 300px; */
  img {
    width: 200px;
  }
  .title {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .search-bar {
    margin-top: 1rem;
    padding-left: 1rem;
    width: 30%;
    height: 2rem;
    outline: none;
    border-radius: 10px;
    text-align: left;
    font-size: 1.1rem;
  }
  .players {
    border-radius: 20px;
    gap: 1rem;

    background-image: url("./assets/logo.png");
    background-size: contain;
    background-size: 20%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2rem;
    width: 90%;
    padding: 1rem 1rem 1rem 1rem;
  }
}

.playercard {
  margin: 2rem 0;
  border-radius: 20px;
  background-color: white;
  /* border: 2px blue solid; */

  img {
    width: 270px;
    height: 450px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
  }
  &:hover img {
    transform: scale(0.9);
    transition: all 0.5s ease-in-out;
  }
  .names {
    /* border: 2px red solid; */
    text-align: center;
    margin-top: -3%;
    border-top: 4px rgba(128, 128, 128, 0.5) solid;

    font-size: 1rem;
    background-color: rgba(234, 223, 223, 1);
    border-radius: 0px 0px 20px 20px;

    padding: 0.8rem 0 0.8rem 0;

    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 100;
  }
  .stats-container {
    background-image: transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: 454px;

    font-size: 1.1rem;
    .inner-container {
      background-color: rgb(234, 223, 223);
      padding: 2rem;
      border-radius: 20px;
      box-shadow: 5px 10px #888888;
    }
  }
}
