* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gold;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  height: 300px;
  .title {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5rem;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  .search-bar {
    padding-left: 1rem;
    width: 30%;
    height: 3rem;
    outline: none;
    border-radius: 10px;
    text-align: left;
    font-size: 1.6rem;
  }
  .players {
    border-radius: 20px;
    gap: 1rem;

    background-image: url("./assets/logo.png");
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem auto;
    width: 90%;
  }
}

.playercard {
  display: relative;
  margin: 2rem 0;
  border-radius: 20px;
  background-color: white;

  /* background-color: white; */
  img {
    width: 400px;
    height: 600px;
    object-fit: cover;
    border-radius: 20px;
  }
  &:hover img {
    transform: scale(0.8);
    transition: all 0.5s ease-in-out;
  }
  .names {
    font-size: 1.4rem;
    background-color: rgb(234, 223, 223);
    border-radius: 0 0 20px 20px;
    display: absolute;
    bottom: 50%;
    text-align: center;
    padding: 0.5rem 0 0.8rem 0;
  }
  .stats-container {
    background-image: transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 600px;

    font-size: 1.6rem;
    .inner-container {
      background-color: rgb(234, 223, 223);
      padding: 2rem;
      border-radius: 20px;
    }
  }
}
