* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
}

.header {
  img {
  }
  .first-title {
  }

  .second.title {
  }
}

.card-container {
  .search-bar {
  }
  .players {
  }
}

.playercard {
  img {
  }
  .names {
  }
  .stats-container {
  }
}
